
<%- include("partials/header"); %>
<link rel="stylesheet" type="text/css" href="navc.css">
<nav id='main-nav'>
    <div id="nav">
      <div class="home"><a href="/institute/dashboard" class="Home">Home</a></div>
      <div><a href="/institute/profile" class="ass">Edit Profile</a></div>
      <div><a href="/institute/database" class="prog">Database</a></div>
    </div>
  </nav>

  <nav id='main-nav1'>
    <div id="nav">
   
      <div><a href="/institute/login" class="prog">LogOut</a></div>
    </div>
  </nav>

<!-- Header;;;;;;change here -->
<header class="w3-container  w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">GuruShishya</h1>
  
</header>
<header>
        
    <ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

</header>


<%- include("partials/footer"); %>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
