<link rel="stylesheet" type="text/css" href="navc.css">
<nav id='main-nav'>
    <div id="nav">
      <div class="home"><a href="#" class="Home">Home</a></div>
      <div><a href="#" class="ass">Assesment</a></div>
      <div><a href="#" class="prog">Progress</a></div>
    </div>
  </nav>

<!-- Header;;;;;;change here -->
<header class="w3-container  w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">GuruShishya</h1>
  
</header>
<header>
        
    <ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

</header>
  
 


</div>
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
