<%- include("partials/header"); %>
<link rel="stylesheet" type="text/css" href="sloginc.css">
<div class="wrapper">
	<div class="container"style="height=1000px;">
		<h1>Student Login
<a href="https://mail.google.com/mail/u/0/?tab=km#inbox?compose=GTvVlcSBnNVZChXfTVLwNPfDJvQNdbQTJgRJFSGTsFxmHBtKjxSRFhDhDQBjstBrksbMXmZhpgQrR" class="logo" target="_blank">
<img  src="https://lh3.googleusercontent.com/-9jmJTbHmNlQ/XwXLp8s3ctI/AAAAAAAAAAs/YsoNR3KLdxMYlGthA7TY6iP940-QKOXpgCEwYBhgLKtMDAL1Ocqx4scDZW<img src="image\logo 1.jpg" alt="">
	</a>
</h1>

		
		<form class="form">
			<input type="text" placeholder="Student Id">
			<input type="password" placeholder="Password">
			<button class="btn btn-light btn-lg">Submit</button>

			</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<%- include("partials/footer"); %>
<script>
$("#login-button").click(function (event) {
	event.preventDefault();

	$("form").fadeOut(500);
	$(".wrapper").addClass("form-success");
});

</script>
