<link rel="stylesheet" type="text/css" href="/style/reg.css">
<div class="wrapper" style="height:650px;">
	<div class="container">
		<h1 style="color:white;">Register
<a href="https://mail.google.com/mail/u/0/?tab=km#inbox?compose=GTvVlcSBnNVZChXfTVLwNPfDJvQNdbQTJgRJFSGTsFxmHBtKjxSRFhDhDQBjstBrksbMXmZhpgQrR" class="logo" target="_blank">
<img src="image\logo 1.jpg" alt="">
	</a>
</h1>

		
		<form action="/institute/register" class="form" method="POST">
			<input type="text" name="instname" placeholder="Institution Name">
			<input type="email" name="instmail" placeholder="Institution Mail Id">
			<input type="tel" name="instphn" placeholder="Contact Number">
			<input type="password" name="instpass" placeholder="Create Password">
			<input type="password" name="instcpass" placeholder="Confirm Password">
			<button class="btn btn-light btn-lg">submit</button>
			</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<script>
$("#login-button").click(function (event) {
	event.preventDefault();

	$("form").fadeOut(500);
	$(".wrapper").addClass("form-success");
});
</script>