<%- include("partials/header"); %>
<link rel="stylesheet" type="text/css" href="/style/.css">
<div class="wrapper" style="height: 600px;">
	<div class="container"style="height: 1000px;">
		<h1>Welcome to GuruShishya
<a href="https://mail.google.com/mail/u/0/?tab=km#inbox?compose=GTvVlcSBnNVZChXfTVLwNPfDJvQNdbQTJgRJFSGTsFxmHBtKjxSRFhDhDQBjstBrksbMXmZhpgQrR" class="logo" target="_blank">
<img src="image\logo 1.jpg" alt="">
	</a>
</h1>

		
		<form class="form">
			<button class="btn btn-light btn-lg">Start a Meeting</button>
			<input type="text" placeholder="To join, Enter meeting Id">

			</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<%- include("partials/footer"); %>

   <script>
$("#login-button").click(function (event) {
	event.preventDefault();

	$("form").fadeOut(500);
	$(".wrapper").addClass("form-success");
});
</script>


